/* BODY */

body {
    display: flex;
    flex-direction: column;
    background-image: repeating-linear-gradient(rgb(39, 48, 100), rgb(97, 90, 84));
    background-color: rgb(176, 177, 192);
    justify-content: space-between;
    align-items: stretch;
    overflow: auto;
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(0, 0, 0, 0.822);
}


/* HEADER */


#header {
    padding-top: 25px;
    flex: 1;
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    color: white;
    font-family: Open24DisplaySt;
    font-size: 100px;
    letter-spacing: 20px;
}

#footer,
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* MAIN */


#main {
    display: flex;
    flex-direction: column;
    flex:9;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

#calculatorBody {
    display: flex;
    flex-direction: column;
    border: 10px solid rgba(226, 216, 218, 0.932);
    background-color: rgba(7, 5, 24, 0.836);
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 800px;
    width: 550px;
    padding: 20px;
    gap:25px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

#displayScreen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    border-radius: 25px;
    border: 10px solid rgba(14, 245, 195, 0.808);
    background-color: whitesmoke;
    font-family: Calculator;
    font-size: 100px;
    padding: 10px;
    font-weight: lighter;
}

#level4,
#level3,
#level2,
#level1,
#floor {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#buttonsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.digit {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 50px;
    width: 50px;
    border: 7px solid rgb(22, 219, 233);
    padding: 25px;
    background-color: white;
    user-select: none
}

.operator {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
    height: 50px;
    width: 50px;
    padding: 25px;
    border: 7px solid rgba(247, 1, 63, 0.808);
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    user-select: none
}

#b0 {
    flex:3.3;
    border-radius: 15px;
}



/* FOOTER */


#footer {
    flex: 0.5;
    font-weight: bold;
    row-gap: 10px;
    margin-bottom: 25px;
    font-size: 30px;
    font-family: theBlackLight;    ;
    letter-spacing: 10px;
    color: white;
}




/* SPECIFIC ELEMENTS */


a {
    text-decoration: none;
}

.GitHubLogo {
    height: 40px;

}

@font-face {
    font-family: theBlackLight;
    src: url(./fonts/TheBlacklight.ttf);
}

@font-face {
    font-family: Calculator;
    src: url(./fonts/Calculator.ttf);
}

@font-face {
    font-family: Open24DisplaySt;
    src: url(./fonts/open_24_display_st/Open24DisplaySt.ttf);
}

.hover {
    background-color: rgb(35, 171, 212);
}

